.landing-mundial{
    background-image: linear-gradient(to bottom, #2a3248 2%, rgba(132, 43, 78, 0));
    #header{
        background: none;
        box-shadow: none;
    }
    h2{
        color: #FFF200!important;
        margin: 0;
        font-weight: 400;
        padding: 60px;
    }
    .te-presentamos{
        background-image: linear-gradient(to bottom, #842b4f00, #4e082c); 

        .titulo-regalos{
            font-weight: 500;
            text-align: left;
        }
        .info-regalos{
            display: flex;
            img{
                width: 178px;
            }
            h3{
                text-align: left;
                font-size: 33px;
                font-weight: 400;
                color: #fff200;
                margin-left: 20px;
            }
        }
        .info-prestamos{
            text-align: left!important;
            font-size: 18px!important;
        }
        span{
            font-weight: 800;
        }
    }
    .como-participar{
        background-color: #4e082c;
    }

    .mundial-premios{
        background-color:#4d062b;
        div{
            img{
                max-width: 860px;
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .container{
            .lista{
                display: grid;
                grid-template-columns: 40% 40%;
                justify-content: space-around;
                @media (max-width: $md){
                    grid-template-columns: 90%;
                }
                .elemento{
                    display: flex;
                    align-items: center;
                    height: 60px;
                    margin: 1px 0px 12px 5px;
                    padding: 0 12px 0;
                    border-radius: 32px;
                    border: dashed 1px #e8b82d;
                    position: relative;
                    font-style: italic;
                    
                    .oval{
                        width: 40px;
                        height: 40px;
                        margin: 1px 1px 0 0;
                        padding: 1px 1px 3px;
                        background-color:#e8b82d;
                        border-radius: 100px;
                        font-size: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #4e082c;
                    }
                    p{
                        margin-left: 3%;
                        text-align: left !important;
                        &:nth-child(even){
                            margin-left: 3%;
                        }
                        &:nth-child(3){
                            margin-right: 5%;
                        }
                    }
                    .element-coin
                    {   position: relative;
                        &:after{
                        content: "";
                        position: relative;
                        display: inline-block;
                        background-image: url(../img/icon-bitel-coin-3.svg);
                        background-repeat: no-repeat;
                        bottom: -2px;
                        width: 1em;
                        height: 1em;
                        margin-left: 6px;
                        }
                    }
                }
                .elemento-activo{
                    background-color:  #e8b82d;
                    .oval{
                        background-color: #4e082c;
                        color: #e8b82d;
                    }
                }
            }

    .section-paginacion{
        display: flex;
        justify-content: center;
        margin: 25px 0 0;
        padding-bottom: 40px;
        .botones-paginacion{
            display: flex;
            flex-direction: row;
            button{
                width: 40px;
                height: 40px;
                margin: 5px;
                padding: 1px 1px 3px;
                background-color: #4e082e;
                border-radius: 100px;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #e8b82d;
                border: 1px solid #842b4e;
                font-style: italic;
                img{
                    width: 9px;
                    margin: 0 auto -4px;
                    display: block;
                }
                &:hover{
                    background: #842b4e;
                }
                &:active{
                    background: #842b4e;
                }
                &.btn-activo{
                    background: #842b4e;
                }
            }
        }
    }

        }
    }

    .saca-ventaja{
        background-color: #4e082c;
        .col-a,
        .col-b{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #FFF200;
            }
        }
        .col-a{
            p:nth-of-type(1){
                text-align: center!important;
            }
            p:nth-last-of-type(1){
                font-size: 10px!important;
            }
        }
    }
    
    .cols-canjear{
        .col-left,
        .col-right{
            .ventaja{
                width: 160px;
            }
        }
        .col-right{
            .texto-ventaja{
                background: url('../img/bg-regalo-monedas.png') no-repeat;
                background-size: 100%;
                text-align: center!important;
                font-size: 24px!important;
                line-height: 1.6!important;
                margin: 0 auto!important;
            }
            .te-regalamos{
                color: #FFF200;
            }
        }
    }

    .img-pueba{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        padding: 30px;
    }
    footer{
        background-color: #4e082c;
    }
}
