.landing-mundial{
    background-image: linear-gradient(to bottom, #2a3248 2%, rgba(132, 43, 78, 0));
    #header{
        background: none;
        box-shadow: none;
    }
    h2{
        font-weight: 400;
        padding: 60px;
        text-align: center;
        width: 283px;
        height: 82px;
        padding: 3px 6px 10px 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        margin: 0 auto 40px;
        color: #fff200;
        font-size: 21px;
        font-style: italic;
        background: url(../img/placa-titiulo-1.png) no-repeat;
    }
    .titulo-2{
        text-align: center;
        width: 363px;
        height: 82px;
        padding: 3px 6px 10px 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        margin: 0 auto 40px;
        color: #fff200;
        font-size: 21px;
        font-style: italic;
        background: url(../img/placa-titiulo-2.png) no-repeat;
        @media (max-width: $sm){
            width: 340px;
            background-size:300px;
            background-position: center;
            font-size: 20px;
        }  
    }

    .titulo-3{
        text-align: center;
        width: 521px;
        margin: 0 auto;
        display: block;
        height: 82px;
        padding: 3px 6px 10px 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        margin: 0 auto 40px;
        color: #fff200;
        font-size: 21px;
        font-style: italic;
        background: url(../img/placa-titiulo-3.png) no-repeat;
        @media (max-width: $sm){
            width: 340px;
            background-size:340px;
            background-position: center;
            font-size: 15px;
        }  
        
    }
    .col {
        width: 50%;
        @media (max-width: $md){
            width: 100%;
        }  
    }
    .cols {
        display: flex;
    }
    .te-presentamos{
        background-image: linear-gradient(to bottom, #842b4f00, #4e082c); 
        .cols{
            align-items: center;
            @media (max-width: $md){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .titulo-regalos{
            font-weight: 500;
            text-align: left;
            @media (max-width: 768px){
                text-align: center;
            }
        }
        .info-regalos{
            display: flex;
            @media (max-width: 768px){
                display: flex;
                flex-direction: column;
            }  
            img{
                width: 178px;
                @media (max-width: 768px){
                width: 310px !important;
                margin: 0 auto!important;
                }
            }
            h3{
                text-align: left;
                font-size: 33px;
                font-weight: 400;
                color: #fff200;
                margin-left: 20px;
                @media (max-width: 768px){
                    margin: 0;
                    text-align: center;
                }  
            }
        }
        .info-prestamos{
            text-align: left;
            font-size: 18px;
            @media (max-width: 767px){
                display: none;
            } 
        }
        .info-prestamos-movil{
            text-align: center;
            @media (min-width: $md){
                display: none;
            } 
        }
        span{
            font-weight: 800;
        }

        .slider-ring .slick-arrow {
            top: 9.1rem;
        }
    }
    .como-participar{
        background-color: #4e082c;
        .participar-mensaje h3{
            padding: 30px;
            margin: 0;
        }

    }


    .mundial-premios{
        background-color:#4d062b;
        background-image: url(../img/mundial-bgonda.png);
        background-repeat: no-repeat;
        background-position: center 60px;
        background-size: 100%;
        div{
            img{
                max-width: 860px;
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .container{
            .lista{
                display: grid;
                grid-template-columns: 40% 40%;
                justify-content: space-around;
                @media (max-width: $md){
                    grid-template-columns: 90%;
                }
                .elemento{
                    display: flex;
                    align-items: center;
                    height: 60px;
                    margin: 1px 0px 12px 5px;
                    padding: 0 12px 0;
                    border-radius: 32px;
                    border: dashed 1px #e8b82d;
                    position: relative;
                    font-style: italic;
                    @media (max-width: 1140px){
                        font-size: 14px;
                    } 
                    .oval{
                        width: 40px;
                        height: 40px;
                        margin: 1px 1px 0 0;
                        padding: 1px 1px 3px;
                        background-color:#e8b82d;
                        border-radius: 100px;
                        font-size: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #4e082c;
                    }
                    p{
                        margin-left: 3%;
                        text-align: left !important;
                        &:nth-child(even){
                            margin-left: 3%;
                        }
                        &:nth-child(3){
                            margin-right: 5%;
                        }
                    }
                    .element-coin
                    {   position: relative;
                        &:after{
                        content: "";
                        position: relative;
                        display: inline-block;
                        background-image: url(../img/icon-bitel-coin-3.svg);
                        background-repeat: no-repeat;
                        bottom: -2px;
                        width: 1em;
                        height: 1em;
                        margin-left: 6px;
                        }
                    }
                }
                .elemento-activo{
                    background-color:  #e8b82d;
                    .oval{
                        background-color: #4e082c;
                        color: #e8b82d;
                    }
                }
            }

    .section-paginacion{
        display: flex;
        justify-content: center;
        margin: 25px 0 0;
        padding-bottom: 40px;
        .botones-paginacion{
            display: flex;
            flex-direction: row;
            button{
                width: 40px;
                height: 40px;
                margin: 5px;
                padding: 1px 1px 3px;
                background-color: #4e082e;
                border-radius: 100px;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #e8b82d;
                border: 1px solid #842b4e;
                font-style: italic;
                img{
                    width: 9px;
                    margin: 0 auto -4px;
                    display: block;
                }
                &:hover{
                    background: #842b4e;
                }
                &:active{
                    background: #842b4e;
                }
                &.btn-activo{
                    background: #842b4e;
                }
            }
        }
    }

        }
    }

    .saca-ventaja{
        background-color: #4e082c;
        .col-a,
        .col-b{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            img{
                margin: 0 auto;
            }
            h3{
                color: #FFF200;
            }
        }
        .col-a{
            p:nth-of-type(1){
                text-align: center;
            }
            p:nth-last-of-type(1){
                font-size: 13px;
            }
        }
        
    }
    
    .cols-canjear{
        @media (max-width: $md){
            flex-direction: column;
        }
        .col-left,
        .col-right{
            .ventaja{
                width: 160px;
            }
            h3{
                font-size: 22px;
                font-style: italic;
                margin-bottom: 10px;
            }
            p{
                margin-top: 0;
                font-size: 18px;
                line-height: 1.5;
            }
        }
        .col-right{
            @media (max-width: $md){
                margin-top:70px;
            }
        }

        .btn-cta {
            border: none;
            .content{
                padding: 0.9rem 61px;
                
            }
        }

    }


    .plan-ilimitado{
        background-color:#4d062b;
        padding: 70px 0 50px;
        background-image: url(../img/mundial-bgonda.png);
        background-repeat: no-repeat;
        background-position: center 60px;
        background-size: 100%;
        .section-ilimitados{
            align-items: center;
            @media (max-width: $md){
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .img-pueba{
            max-width: 300px;
            width: 100%;
            margin: 0 auto;

        }
        .col-right{
            .texto-ventaja{
                background: url('../img/bg-regalo-monedas.png') no-repeat;
                background-size: 390px;
                background-position: center;
                text-align: center;
                line-height: 1.6;
                margin: 0 auto;
                font-size: 24px;
                line-height: 1.4;
                font-style: italic;
                @media (max-width: $md){
                    margin-top: 60px;
                }
            }
            .te-regalamos{
                color: #FFF200;
            }
        }
    }

    footer{
        background-color: #4e082c;
    }
}
